<h2 style="font-family:verdana;color:blue;text-shadow: 2px 2px red">What would you like to order from McDonald's?</h2>

<form action="/order" method="post">
	<input type = "checkbox" name = "order[]" value = "coffee"><font color="red">Coffee</font>
	<br/>
	<input type = "checkbox" name = "order[]" value = "Hash Browns"><font color="red">Hash Browns</font>
	<br/>
	<input type = "checkbox" name = "order[]" value = "Orange Juice"><font color="red">Orange Juice</font> 
	<br/>
	<input type="submit">
</form>	
